$grey: rgb(34, 34, 34);

@media (max-width: 7680px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  span:hover {
    background-color: rgb(73, 73, 73);
    border-radius: 2px;
    color: white;
  }

  nav {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 32px 40px 0 40px;
    max-width: 100vw;
  }

  .nav-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    width: 100%;
  }


  .nav-name{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
  }

  .nav-name__link{
    z-index: 2;
  }

  .nav-frame {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 9px;
    padding-bottom: 8px;
    flex-direction: row;
    z-index: 2;
  }

  .nav-frame__text {
    position: relative;
    color: $grey;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: unset;
    text-align: left;
    text-transform: capitalize;
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav-name {
    color: $grey;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    text-align: left;
    text-transform: uppercase;
  }
  .nav-number {
    margin-top: 8px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1279px) {
  .nav-container {
    align-content: space-between;
  }

  .nav-name {
    position: relative;
    display: flex;
    width: inherit;
    justify-content: center;
    padding-top: 16px;
  }

  .nav-frame__text {
    font-size: 1.25em;
  }

  h1 {
    font-size: 1.55em !important;
  }

  .nav-frame {
    box-sizing: border-box;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 !important;
  }

  .nav-number {
    display: none;
  }
}

@media (max-width: 750px) {

  .nav-container {
    flex-direction: column;
    align-content: space-evenly;
    padding: 0 5px 10px 5px;
  }

  .nav-name {
    padding-top: 10px;
  }

  h1 {
    font-size: 1.35em !important;
  }

  .nav-frame {
    box-sizing: border-box;
    justify-content: space-evenly;
    width: 100%;
  }

  .nav-frame__text {
    font-size: 1.05em;
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-number {
    display: none;
  }
}

@media (max-width: 499px) {
  nav {
    flex-direction: row;
    padding: 5px 5px 10px 5px;
    position: sticky;
    top: 10px;
  }

  .nav-frame {
    text-align: center;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
    box-sizing: content-box;
  }

  .nav-frame__text {
    font-size: 0.85em;
    margin-left: 5px;
    margin-right: 5px;
  }

  .nav-number, .nav-name {
    display: none;
  }

  .nav-name__link {
    font-size: 0.75em;
  }
}